body {
	background-image:url("http://connormcdermott.me/images/screenshot2.png");
	background-repeat:no-repeat;
	background-size:cover;
	font-family:"Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}

h1{
	text-align: center;
	color: navy;
	font-size:4em;
	line-height:1.1;
	position:relative
}

h2 {
	font-size:2em;
	line-height:1.1;
	position:relative;
	color: navy;
	padding-left:75px;
}

p {
	margin:0px;
	padding:0px;
}

#main-body {
	background-color: lightblue;
	vertical-align: middle;
}

.wrapper{
	background-color: #ADD8E6;
	opacity: 0.95;
	filter: alpha(opacity=.95);
	position:relative;
	width:1150px;
	min-height:300px;
	margin: 0 auto;
	padding:0;
	clear:both;
	z-index:1;
}

div.wrapper p {
    font-weight: bold;
    color: #000000;
}

.item{
	padding-left:100px;
}

.itemTitle {
	font-size:20px;
	margin:0px;
	margin-left:126px;
	margin-top:4px;
	padding-left:0px;
}

.itemImg {
	
}

.itemDesc {
	margin:0px;
	margin-left:8px;
	margin-top:4px;
	padding-left:0px;
}

