body {
	background-color: lightblue;
}

h1 {
	color: navy;
}

h2 {
	color: navy;
}

div.main-body {
	width: 400px;
	background-color: lightblue;
	vertical-align: middle;
}

div.wrapper{
	position:relative;
	width:1150px;
	min-height:300px;
	margin: 0 auto;
	padding:0;
	clear:both;
	z-index:1;
}