body {
	background-image:url("http://connormcdermott.me/images/screenshot.png");
	background-repeat:no-repeat;
}

h1{
	color: navy;
	font-size:4em;
	letter-spacing:-.06em;
	line-height:1.1;
	position:relative
}

h2 {
	color: navy;
}

#main-body {
	background-color: lightblue;
	vertical-align: middle;
}

#wrapper{
	background-color: lightblue;
	position:relative;
	width:1150px;
	min-height:300px;
	margin: 0 auto;
	padding:0;
	clear:both;
	z-index:1;
}

